<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') -%>
</head>

<body>
    <%- include('partials/alerts') -%>

        <main class="dashboard">
            <%- include('partials/sidebar', { activeLink: 'dashboard' }) -%>

                <div class="divider divider-horizontal"></div>

                <div class="container">

                    <!-- Stats -->
                    <div class="stats shadow">
                        <!-- Num of employees in department -->
                        <div class="stat">
                            <div class="stat-title">Total Page Views</div>
                            <div class="stat-value">89,400</div>
                            <div class="stat-desc">21% more than last month</div>
                        </div>

                        <!-- Num of hours worked (per pay cycle) -->
                        <div class="stat">
                            <div class="stat-title">Total Page Views</div>
                            <div class="stat-value">89,400</div>
                            <div class="stat-desc">21% more than last month</div>
                        </div>


                        <!-- Average salary -->
                        <div class="stat">
                            <div class="stat-title">Total Page Views</div>
                            <div class="stat-value">89,400</div>
                            <div class="stat-desc">21% more than last month</div>
                        </div>
                    </div>

                </div>
        </main>
</body>

</html>