@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.heading {
		@apply text-3xl font-semibold mb-8;
	}
}

@keyframes alert {
	0% {
		transform: translateY(calc((100% + 1rem) * -1));
	}

	10% {
		transform: translateY(0);
	}

	90% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(calc((100% + 1rem) * -1));
	}
}

main.dashboard {
	@apply flex h-screen overflow-hidden;
}

main.dashboard > .divider {
	@apply m-0;
}

main.dashboard > .container {
	@apply py-16 h-full overflow-y-auto;
}

.salary-input:disabled {
	@apply bg-transparent border-none;
}

.edit-button.text-info + button[type='submit'] {
	display: none;
}

.edit-button.text-info > .icon-edit {
	display: inline-block;
}
.edit-button.text-info > .icon-close {
	display: none;
}

.edit-button.text-error > .icon-edit {
	display: none;
}
.edit-button.text-error > .icon-close {
	display: inline-block;
}
